@use '../variables' as *;

.main-title {
    margin-block-end: 1rem;
    h1 {
        font-size: $big-title;
        color: $black;
        &::before {
            content: "";
            transform: translateY(10%); 
            display: inline-block;
            width: 5px; 
            height: 20px; 
            background-color: $red; 
        }
    }
}